In [1]:
# //using  self creat a class student with attributes name and marks

class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks

    def display(self):
        print(f"Name: {self.name}, Marks: {self.marks}")


s1 = Student("Ali", 85)
s2 = Student("Ayesha", 92)

s1.display()
s2.display()

Name: Ali, Marks: 85
Name: Ayesha, Marks: 92